<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="login-container">
        <h2>New to NotTwitter</h2>
        <p>Sign up now to get your own personalized timeline!</p>
        <a href="/createaccount" class="create">Create Account!</a>
        <p>By signing up, you agree to the <a href="#">Terms of Service </a> and <a href="#">Privacy Policy</a> , including <a href="#">Cookie Use.</a></p>
    </div>
</body>
</html>