*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container-profile{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}
a{
    text-decoration:  none;
    color: black;
}
li{
    list-style: none;
}
.ul-nav{
    border: solid .5px black;
    padding: 20px;
}
.nav{
    padding: 30px;
    font-size: 20px;
}
.tweet{
    background: rgb(71, 154, 233);
    border-bottom-left-radius: 40%;
    border-bottom-right-radius: 40%;
    border-top-left-radius: 40%;
    border-top-right-radius: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}
p,span{
    margin: 5px;
}
.fuck{
    color: white;
}
.container{
    border: solid .5px black;
    padding: 5px;
}
.post{
    border: solid .5px black;
}
.snookabutt{
    border: solid .5px black;
    height: 100%;
}