*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container-profile{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}
a{
    text-decoration:  none;
    color: black;
}
li{
    list-style: none;
}
.ul-nav{
    border: solid .5px black;
    padding: 20px;
}
.nav{
    padding: 30px;
    font-size: 20px;
}
.tweet{
    background: rgb(71, 154, 233);
    border-bottom-left-radius: 40%;
    border-bottom-right-radius: 40%;
    border-top-left-radius: 40%;
    border-top-right-radius: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}
p,span{
    margin: 5px;
}
.fuck{
    color: white;
}
.container{
    border: solid .5px black;
    padding: 5px;
}
.post{
    border: solid .5px black;
}
.snookabutt{
    border: solid .5px black;
    height: 100%;
}
#tweetid{
    visibility: hidden ;
}
.follow-container{
    padding: 10px;
    margin: 10px;
    border-radius: 5%;
    border: 1px solid #479ae9;
}
.ul-container, .li-container{
    margin: 5px; 
}
.li-container{
    display: flex;
    justify-content: space-between;
}
main{
    height: 100vh;
}
#post-links,.lol{
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin: 0 auto;
}
.lol{
    justify-content: center;
}